<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search Wizard</title>
    <style>
      .doc_button {
        border: 0;
      }
      body{
        background-color: azure;
      }
      #l{
        margin-left: 150px;
      }
      #s {
        width: 240px;
        height: 32px;
        line-height: 32px;
        font-size: 18px;
      }
      #rc {
        border-radius: 25px;
        border: 2px solid #609;
        padding: 20px;
        width: 500px;
        height: 5px;
      }
    </style>
  </head>
  <body>
    <div align="center">
    <form action="http://localhost:5000/allResults" method="POST">
      <input id="rc" type="text" size="50px" style="background-color: azure;" name="query"/></br>
      <input type="radio" name="search_type" value="bs">Boolean Search</input>
      <input type="radio" name="search_type" value="vsm" checked>Ranked Search (VSM)</input>
      <input id="s" type="submit"/ value="Search">
    </form>
    </div>
    {% for key, value in result.items() %}
    <p><div id="l"><form action="http://localhost:5000/resultContent" method="POST">
      <input size="100px" class="doc_button" name="doc" style="background-color: azure;" value="{{ value }}" readonly>
      <input type="submit" value="Show Document"/></br>
    </form></p></div>
    {% endfor %}
  </body>
</html>
