<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title> {{ title }} </title>
    {% else %}
      <title> Search Engine </title>
    {% endif %}
  </head>
  <body>
    <form action="http://localhost:5000/results" method="POST">
        <input type="text" name="query"/>
        <input type="radio" name="search_type" value="bs">Binary Search</input>
        <input type="radio" name="search_type" value="vsm">VSM</input>
        <input type="radio" name="search_type" value="nb">Naive Bayes</input>
        <input type="submit"/>
      </form>
  </body>
</html>
