<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title> {{ title }} </title>
    {% else %}
      <title> Search Engine </title>
    {% endif %}
    <style>
    .center-div {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 350px;
      height: 100px;
    }
    </style>
  </head>
  <body>
    <div class="center-div">
      <form action="http://localhost:5000/allResults" method="POST">
        <input type="text" size="50px" name="query"/></br>
        <input type="radio" name="search_type" value="bs">Boolean Search</input>
        <input type="radio" name="search_type" value="vsm">Ranked Search (VSM)</input>
        <input type="submit"/ value="Search">
      </form>
    </div>
  </body>
</html>
